body {
  /* background-image: url('https://cdn.stocksnap.io/img-thumbs/960w/colorful-bokeh_22FXPJXGDA.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-attachment: fixed;
  background-position: center center; */
  /* height: 100vh;
  min-height: 100vh; */
  background-color: rgb(224, 220, 213);
  margin: 0;
}
